{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section>
    <!--    <div class="alert alert-light text-center" role="alert">-->
    <!--       Informational message
    <!--    </div>-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">Store</h1>
                <p>
                    New styles and top brands at Store.
                    Free worldwide shipping! Outlet: up to -70% own brand. -20% off for new customers.
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="{% url 'products' %}">
                      Start Shopping
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock %}

